@page "/"
@rendermode InteractiveServer
@using raft_garioncox

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="startSimulation" class="btn btn-primary">Start</button>

@foreach (var n in nodes)
{
    <div>
        @n.Id
    </div>
}

@code {
    List<SimNode> nodes = [];
    void startSimulation()
    {
        var node1 = new Node(0);
        var node2 = new Node(1);
        var node3 = new Node(2);

        var sim1 = new SimNode(node1);
        var sim2 = new SimNode(node2);
        var sim3 = new SimNode(node3);

        sim1.Neighbors = [sim2, sim3];
        sim2.Neighbors = [sim1, sim3];
        sim3.Neighbors = [sim1, sim2];

        nodes = [sim1, sim2, sim3];
    }
}