@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    HttpClient httpClient = new HttpClient();
    string[] Urls = Environment.GetEnvironmentVariable("NODE_URLS").Split(',');

    protected override void OnInitialized()
    {
        foreach (string url in Urls)
        {
            Console.WriteLine(url);
        }
    }

}